.body-main {
    width: 100%;
    height: 541px;
    /* background-color: #f1f1f1; */
    position: absolute;
    top: -1px;
    z-index: -999;
}

.table-main {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.share_main {
    width: 100%;
    height: 537px;
    margin-top: 5px;
}

.table_share_shutter {
    width: 80%;
    height: 100%;
    margin-left: 4px;
    margin-top: -7px;
}

.self_info {
    width: 20%;
    height: 527px;
    /* background-color: aqua; */
    position: absolute;
    left: 645px;
    top: 61px;
}

.name_share {
    margin-bottom: 6px;
    margin-left: 3px;
    color: #708090;
}

.share_opera_btn {
    /* background-color: #337AB7; */
    /* color: white; */
    width: 116px;
    margin-left: 20px;
    margin-top: 14px;
}

.dl_main {
    position: absolute;
    top: 84px;
    overflow: auto;
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
}

.item_border{
    width: 100%;
    height: 71px;
    flex-direction: row;
    display: flex;
}

.item_border:hover{
    background-color: #f1f1f1;
}

.path_navigation{
    width: 100%;
    height: 28px;
    background-color: antiquewhite;
}

.text_detail{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: #727272;
    justify-content: space-between;
}

.right_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.left_progress_box{
    flex-direction: column;
    width: 95%;
    height: 100%;
    padding: 0 35px 0 23px;
}

.btn_continue_pause{
    margin-top: 10px;
    cursor: pointer;
}